body, html {
    height: 100%;
    background-color: black;
    font-family: 'Lato', sans-serif;
}

.bg { 

    /* The image used */
    background-image: url("night.jpg");

    /* Full height */
    height: 50%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.title{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    font-size:50px;
}

h1{
    font-family: 'Archivo Black', sans-serif;
    color:white;
    text-align: center;
    text-shadow: 4px 4px black;
}

a{
    text-decoration: none;
    color:white;
}

#icons{
    display:none;
}

a:hover{
    transition: 0.25s;
    color: #5b54dd;
}

a:active{
    color: #261fad;
}

#navBar{
    background-color: black;
}

#navBar ul{
    text-align:center;
    padding: 5px 0px;
    margin:0px;
    border-top:3px solid white;
    border-bottom:3px solid white;
    font-family: 'Archivo Black', sans-serif;
}

#navBar ul li{
    color:white;
    font-size:28px;
    display: inline;
    
    
}

#nav li{
    padding: 0px 100px;
}

p{
    color:white;
    font-size: 22px;
}

h2{
    color:white;
    border-bottom: 3px solid white;
    font-family: 'Archivo Black', sans-serif;
    font-size:28px;
}

#contact{
    margin: 0px auto;
    text-align:center;
}

#contact h2{
    text-align:center;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

#social{
    width:100%;
    padding:0px;
    margin:0px;

}

#social li{
    display: inline;
    padding-left:10px;
    padding-right:10px;
    font-size: 3em;
}

a:hover{
    transition: 0.25s;
    color: #5b54dd;
}

a:active{
    color: #261fad;
}

i:hover{
    transition: 0.25s;
    color: #5b54dd;
}

i:active{
    color: #261fad;
}

#social li a:hover{
    color: #5b54dd;
}

#social li a:active{
    color: #261fad;
}

#social img{
    width: 50px;
}

.column{
    width: 46%;
    padding-left: 1%;
    padding-right: 1%;
    margin: auto;

}

.column p{
    padding: 0% 2%;
    margin:auto;
    line-height: 1.5;
}

.row{
    margin: auto;
}

.section{
    font-size:50px;
    padding: 20px 0px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;

    /* The image used */
    background-image: url("night.jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.left{
    float:left;
    text-align:left;
}

.right{
    float:right;
    text-align:right;
}

.right h2{
    text-align: right;
}

.column h2{
    padding:5px 0px;
    margin:10px 0px;
}

.column img{
    padding-top: 4%;
    width:100%;
}



/*Media Queries*/
@media (max-width: 479px) {

    #nav{
        display: none;
    }

    #icons{
        display:block;
        width:100%;
    }

    #icons li{
        display: inline;
        padding:0px 20px;
        text-align:center;
        margin:auto;


    }

    #icons img{
        max-width:25px;
        text-align:center;
        margin: auto;
        padding:0px;
    }

    .section{
        font-size: 40px;
        padding: 0px;
        margin: 0px;
    }

    .column{
        width:95%;
    }

    .bg{
        height: 20%; 
    }

    .title{
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        width:100%;
        font-size:20px;
    }

    h2{
        width:100%;
        padding: 0px;
        margin: 0px;
        font-size: 25px;
    }





}
